.div-websites{
    position: absolute;
    top: 100px;
    left: 280px;
    width: 75%;

}

.card{

}

#beta{
    padding: 10px;
    color: white;

}

.btn-outline-light{
    background-color: #4555D1;
}

.btn-outline-light:hover{
    background-color: #7386D5;
    color: #4555D1;
}

.menu-websites{
    font-size: 30px;
}